<div class="main">
  <div class="container">
    <div class="text-center">
      <div class="middle">
        <div id="login">
          <form [formGroup]="loginForm"  (ngSubmit)="login()">
            <fieldset class="clearfix">
              <div [ngClass]="{'has-error': loginForm.get('username')?.errors && loginForm.get('username')?.touched}">
                <span class="fa fa-user"></span><input type="text" formControlName="username" placeholder="Usuario" required/>
                
              </div>
              <div [ngClass]="{'has-error': loginForm.get('password')?.errors && loginForm.get('password')?.touched}">
                <span class="fa fa-lock"></span><input type="password" formControlName="password" placeholder="Contraseña" required/>
                <span class="help-block" *ngIf="loginForm.get('password')?.errors?.minlength && loginForm.get('password').touched">
                  El título debe tener al menos 4 caracteres de longitud
                </span>
              </div>

              <div>
                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">¿Olvidaste Contraseña?</a></span>
                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Iniciar"/></span>
              </div>
            </fieldset>
            <div class="clearfix"></div>
          </form>

          <div class="clearfix"></div>
        </div>
        <div class="logo p-4">
          AOPCOOP

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
